#main-1 .container{
    margin: 0 auto;
    padding: 0;
    background-color: black;
    z-index: 1;
}

.img-slider{
    height: 850px;
    overflow: hidden;
    position: relative;
}

.images{
    display: flex;
    background-size: contain;
}

.images img{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.black{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgba(57, 145, 207, 0.9) 0%, rgba(229, 219, 35, 0.9) 100%);
}

.black h1{
    font-size: 52px;
    text-align: center;
    color: #fff;
}

.banner-text {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 25px;
    color: #fff;
}

img.img-slider span{
    margin: 100px 0 0 200px;
    z-index: 3;
}


/*
.banner {
    position: absolute;
    width: 1200px;
    height: 200px;
    background-color: palevioletred;
    margin: 100px 0 0 100px;
    z-index: 3;
}
*/

#main-2 .container{
    margin: 0;
    padding: 0;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playList_div {
    margin: 5% 0 5% 18%;
    justify-content: space-between;
}
